@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body {
  background-color: #08255b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Press Start 2P", cursive;
  min-height: 95vh;
  box-sizing: content-box;
}

/* =============== */
/* WINDOW STYLING */
/* =============== */

.window {
  margin: 20px;
  border-radius: 20px;
  background-color: #efeff4;
  width: 85vw;
  max-width: 850px;
  display: flex;
  flex-direction: column;
}

.windowBar {
  background-color: #ceced2;
  border-radius: 20px 20px 0 0;
  height: 40px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.circle {
  height: 30px;
  width: 30px;
  margin: 0 5px;
  border-radius: 25px;
  text-align: center;
  font-size: 18px;
}

#redCirc {
  background-color: #ff2b30;
}

#yellowCirc {
  background-color: #ffcc00;
}

#greenCirc {
  background-color: #4cd964;
}

/* =============== */
/* MAIN APP STYLING */
/* =============== */

.app {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
}

.title {
  font-size: 1.5rem;
  font-family: "Press Start 2P", cursive;
}

/* =============== */
/* FORMS STYLING */
/* =============== */

form {
  text-align: center;
  margin: 20px;
}

input {
  border-radius: 20px;
  border: 1.5px solid #ceced2;
  padding: 7px 20px;
  margin: 10px;
}

input[type="submit"] {
  padding: 10px 30px;
  background-color: #ceced2;
  border-radius: 20px;
  border: 0px solid black;
  font-family: "Press Start 2P", cursive;
}
